#Пример файла конфигурации
#Файл в формате YAML поэтому ОТСТУПЫ, ЗНАКИ ТИРЕ (-), ДВОЕТОЧИЯ очень важны
#Для отступов НЕ ИСПОЛЬЗОВАТЬ ТАБУЛЯТОРЫ

#Включить просмотр статистики по HTTP
enable_http: true

#адрес:порт на котором будет доступна статистика
listen: 0.0.0.0:8899

#Интервал сканирования всех папок (в секундах)
rescaninterval: 15 

#max_scan_threads - количество потоков сканирования папок
#Такой поток сканирует папки в поисках подходящих под правила файлов,
#а затем отдает найденные файлы потокам копирования
max_scan_threads: 4

#max_copy_threads - количество потоков, которые копируют файлы, найденные потоками сканирования
max_copy_threads: 4

#Уровень отладки. Влияет на содержимое сообщений в логе
#Допустимые значения: DEBUG INFO ERROR
loglevel: DEBUG 

#глобальный список исключений
#применяется ко всем папкам и правилам
#файлы с заданными тут масками будут игнороироваться
#в каталогах источниках
excludemasks:
- '*.tmp'
- 'thumbs.db'

#задается набор папок, которые будут сканироваться
#Если необходимо несколько папок обработать одинаковыми правилами
#то можно задать их списком
#- src_dirs: 
#  - c:\test\src
#  - c:\test\src2
#  допустимо использовать шаблоны для даты %Y%m%d (ггггммдд) и %H%M%S (ЧЧ24ММСС)               
#
#Список исключений для папки(папок)
#  excludemasks:
#  - '*.tmp'
#  - 'thumbs.db'
#
#Набор правил, применяемых к папкам в src_dir 
#  rules:
#    0:
#      masks: 
#      - '*.exe'
#      - '*.dll'
#      excludemasks:
#      - '123*.exe'
#      dst_dir: c:\test\dst\%Y%m%d
#      ifexists: replace
#      mode: move
#
# masks:  -  список масок, которые будут применяться к файлам внутри папок src_dir 
# dst_dir: - куда копировать/перемещать найденные по маскам (masks) файлы
#            допустимо использовать шаблоны для даты %Y%m%d (ггггммдд) и %H%M%S (ЧЧ24ММСС)               
# ifexists: - что делать, если файл уже существует в каталоге, куда копируется файл
#           допустимые значения: replace - заменить, skip - пропустить и не копировать файл
# mode: - режим обработки файлов. move - перемещать, при этом остальные правила будут пропущены
#                                 copy - копировать файлы, при этом будут применены другие правила, если они есть
#       ВНИМАНИЕ! если не будет ни одного правила с mode: move, то один и тот же файл будет копироваться бесконечно!  
#       ВНИМАНИЕ! если первое правило настроено в режиме копирования с пропуском существующих файлов, а второе (с теми же масками) на перемещение, 
#                 то если в каталоге назначения первого правила файл будет существовать, файл скопирован не будет,
#                 а второе правило переместит его. В итоге в каталог назначения первого правила файл НЕ ДОЙДЕТ   

scangroups:
- src_dirs: 
  - c:\test\src
  - c:\test\src2
  enabled: false #отключено для примера
  create_src: true
  excludemasks:
  - '*.tmp'
  - 'thumbs.db'
  rules:
    0:
      masks: 
      - '*.exe'
      - '*.dll'
      excludemasks:
      - '123*.exe'
      dst_dir: c:\test\dst\%Y%m%d
      ifexists: replace
      mode: move

#Пример в котором для папок настроено два правила
#Первое копирует, найденные файлы в одну папку, а второе перемещает их во вторую
- src_dirs: 
  - c:\test\src3
  - c:\test\src4
  enabled: false #отключено для примера
  create_src: true
  excludemasks:
  - '*.tmp'
  - 'thumbs.db'
  rules:
    #копируем  
    0:
      masks: 
      - '*.xml'
      dst_dir: c:\test\dst2\
      ifexists: replace
      mode: copy
    #перемещаем
    1:
      masks: 
      - '*.xml'
      dst_dir: c:\test\dst3\
      ifexists: replace
      mode: move