<html>
   <head>
      <title>Тоссер: статистика</title>
      <meta http-equiv="refresh" content="30">
      <link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAANtJREFUOI290rFKgzEUhuEHWlBHZ8FL0KWLQ9cOjqWCCN6DY+/AwdXFxb1LwZuwFLsoKAjODoIgpUOxVh3+UMLfpC2IfeGQwJfzJTnn8A/s4AJPGOMTjzjHHu7RzyWfYISfFWKOY3wHsYMDbGIDTUwXGexGN58lzB+WveAqujlFr5R8Wz7wHoT9jEGWalhf8KWo8FoYWNDKZdQU331LucaF6mUMboJ+WRbKbbpLJLeDNlRMbNZgiiNshaijG2mt1NNWGd9hMJ5RifaHeEUDH9gOMcEzrnHqD9VP8gs5H1UaDpmL+AAAAABJRU5ErkJggg=="/>
   </head>
   <style type="text/css">
      body {
         font-family: Helvetica, Sans-Serif; 
      }
      TABLE {
         width: 800px; /* Ширина таблицы */
         border-collapse: collapse; /* Убираем двойные линии между ячейками */
      }
      TD, TH {
         padding: 3px; /* Поля вокруг содержимого таблицы */
         border: 1px solid black; /* Параметры рамки */
      }
      TH {
         background: #b0e0e6; /* Цвет фона */
      }
      ul {
         list-style: square;
         padding: 10px; 
      }
   </style>
   <body>
      <h2>Статистика тоссера за {{.StatDate}}</h2>
      <div> Версия: {{.Version}} от {{.VersionDate}}</div>
      <table>
           <tr><td align="center">Каталог</td>
	     <td align="center" style="width: 100px;">Кол-во переданных файлов</td>
	     <td align="center" style="width: 100px;">Суммарный размер</td>
	     <td align="center" style="width: 100px;">Последняя передача</td>
	   </tr>
      {{range $d  := .dirStatInfoList}}
       <tr>
          <td>{{$d.Dir}}</td>
          <td align="right">{{$d.Stat.Count}}</td>
          <td align="right">{{$d.Stat.HumanReadableSize}}</td>
          <td align="right">{{$d.Stat.LastProcessingDateStr}}</td>
       </tr>
      {{end}}
      </table>
      <ul>
      {{range $e  := .errorHistory}}
        <li> {{$e}} </li>
      {{end}}
      </ul>
   </body>
</html>
